{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block title %}Rulletekster{% endblock %}
{% block content %}
<section class="section columns is-tablet is-centered background-meta">
    <div class="column is-three-quarters is-two-thirds-desktop is-half-widescreen is-centered"><div class="box big-box">
        <h1 class="title is-size-2-desktop is-size-3-tablet has-text-centered">Rulletekster</h1>
        <div class="is-divider" data-content="&#xf001"></div>
        <div class="content">
        <p>Mit navn er <strong>Sigfred Nielsen</strong>, og jeg er manden bag Tegnedreng Records. Jeg har udviklet konceptet, produceret og mixet al musikken, skrevet størstedelen af teksterne, og opført mange af vokalerne. Med min stemme har jeg (mindst) spillet P Desmet, L Jooken, P Schmitter og M Trokay. Derudover har jeg i visuelle materialer spillet P Desmet. Jeg har også designet mange af de grafiske elementer, og klippet musikvideoerne.</p>
        <h2>Andre deltagere i projektet</h2>
        <ul>
        <li><strong>Martin</strong> spiller P Swiggers, både i stemme og ansigt. Han har skrevet og fremført de akustiske numre fra SWGRS-projektet.</li>
        <li><strong>Henrik  Viking</strong> har designet resten af grafikken, og været bag kameraet på musikvideoerne. Han lægger desuden stemme til J De Clercq.</li>
        <li><strong>Kaare Olsen</strong>: HM Hoeningwald, og er i mange tilfælde bag L Jooken-masken</li>
        <li><strong>Mads Storm</strong>: B Lamiroy</li>
        <li><strong>Heine Gade</strong>: Stoppie K</li>
        <li><strong>Emil Visti</strong>: L Melis/J Servais</li>
        <li><strong>Ingo</strong>: R Echt, stemme (de tyske rap-vers)</li>
        <li><strong>Marcel</strong>: Lægger ansigt til P Schmitter</li>
        <li><strong>Mathilde</strong>: Unavngivent medlem i musikvideoen til Adelgade Klassisk</li>

        </ul>
        <p>Derudover er der mange, der har ydet mindre bidrag, og deltaget i samtalen om projektet, som har holdt det kørende og på sporet.</p>
        <p>En meget stor tak til jer alle!</p>
        <p>Og tak til Helene Madsen for korrektur og test af siden</p>
        <h2>Teknikken</h2>
        <p>Jeg har udviklet denne hjemmeside i de første måneder af 2019. Processen har involveret at trække data ud af de forskellige tjenester, som blev brugt under projektet, strukturere dem, skrive tekster, og kode hjemmesiden.</p>
        <p>Følgende programmer og værktøjer er især blevet brugt til dette:</p>
        <ul>
        <li>Programmeringssproget <a href="https://www.python.org/">Python</a></li>
        <li>Det Python-baserede web-framework <a href="https://www.djangoproject.com/">Django</a></li>
        <li>CSS-frameworket <a href="https://bulma.io/">Bulma</a></li>
        <li>Skriveprogrammet <a href="https://typora.io/">Typora</a></li>
        <li>Python-editoren <a href="https://www.jetbrains.com/pycharm/">PyCharm</a>, samt den generelle editor <a href="https://notepad-plus-plus.org/">Notepad++</a></li>
        </ul>
        <h2 id="kontakt">Noget at fortælle?</h2>
        <p>Jeg vil meget gerne høre respons fra folk, der har læst historien og lyttet til musikken. Hvis du har fundet fejl og ting på siden, der ikke virker på dit system, vil jeg selvfølgelig også gerne høre om det, så jeg kan forbedre teknikken.</p>
        <p>* Alle felter er påkrævet</p>
        {%if sent == "sendt" %}<p class="notification is-success">Din besked er sendt!</p>
        {% elif sent == "ikke_sendt" %}<p class="notification is-danger">Din besked kunne ikke sendes</p>
        {% elif sent %}<p class="notification is-danger">{{sent}}</p>
        {% endif %}
        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-link" type="submit">Send</button>
        </form>


        <h2>Sidens historik</h2>
        <p>Løbende ændringer og opdateringer vil fremgå her.</p>
        <ul>
        <li>2019-5-5: Første version af siden offentliggøres. </li>

        </ul>
        </div>
    </div>
</section>
{% endblock %}
