{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block content %}
    <section id="{{ musicvideo.alias }}" class="section columns is-tablet is-centered">
    <div class="column is-two-thirds"><div class="box">
        <div class="columns is-tablet is-vcentered">
          <div class="column is-one-quarter is-half-mobile has-image-centered">

                <figure class="image"><img class="is-rounded" src="{{ character.photo.url }}"></figure>

          </div>
          <div class="column has-text-centered-mobile">
              <div class="content">
                <h2 class="title">{{ character.name }}</h2>
                <p>{{ character.text }}</p>
        </div></div>
        </div>
        <div class="is-divider" data-content="&#xf007"></div>
        <h3 class="subtitle has-text-centered">Optræder på disse sange:</h3>
        <div class="multicol-3"><ul>
            {% for s in character.appears_on_song.all %}
                <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
            {% endfor %} </ul>
        </div><br>
        {% if character.producer.all %}
            <div class="is-divider" data-content="&#xf007"></div>
            <h3 class="subtitle has-text-centered">Producer på disse sange:</h3>
            <div class="multicol-3"><ul>
            {% for s in character.producer.all %}
                <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
            {% endfor %} </ul>
            </div><br>
        {% endif %}
        {% if character.appears_in_video.all %}
            <div class="is-divider" data-content="&#xf007"></div>
            <h3 class="subtitle has-text-centered">Medvirker i disse musikvideoer:</h3>
            <div class="multicol-3"><ul>
            {% for v in character.appears_in_video.all %}
                <li><a href="{% url 'musicvideo_viewer' slug=v.slug %}">{{ v.title }}</a></li>
            {% endfor %} </ul>
            </div><br>
        {% endif %}
        <div class="is-divider" data-content="&#xf007"></div>
        <h3 class="subtitle has-text-centered">Optræder i disse opslag:</h3>
        {% for post in posts %}
            {% show_post post %}
        {% endfor %}
    </div></div></section>
{% endblock %}
