{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block title %}{{ character.name }}{% endblock %}

{% block content %}
<div class="modal" id="modal_{{ character.slug }}">
  <div class="modal-background" onclick="modalClose('modal_{{ character.slug }}')"></div>
  <div class="modal-content">
      <img src="{{ character.photo.url }}" height="{{ character.photo.height }}" width="{{ character.photo.width }}"/>
  </div>
  <button class="modal-close is-large" onclick="modalClose('modal_{{ character.slug }}')" aria-label="close"></button>
</div>

    <section id="{{ character.slug }}" class="section columns is-tablet is-centered">
    <div class="column is-8-widescreen is-10-desktop"><div class="box big-box">
        <a class="button is-dark is-outlined is-small navy-text backlink" href="/medlemmer/">
            <span class="icon is-small"><i class="fas fa-long-arrow-alt-left"></i></span>
              <span>Alle medlemmer</span></a>
        <div class="columns is-desktop is-vcentered">
            <div class="column is-2-desktop"></div>
          <div class="column is-4 is-10-mobile is-4-desktop has-image-centered has-text-centered mobile-fix">
                <figure class="image"><a onclick="modalOpen('modal_{{ character.slug }}')">
                    <img class="is-rounded" src="{{ character.photo.url }}"></a></figure>
          </div>
          <div class="column has-text-centered-mobile has-text-centered-tablet-only">
              <div class="content">
                <h1 class="title is-size-3 is-size-2-widescreen">{{ character.name }}</h1>
                <p class="subtitle is-size-6 is-size-5-widescreen">{{ character.text|safe }}</p>
        </div></div>
        </div>
        <div class="is-divider" data-content="&#xf007"></div>
        {% if character.appears_on_song.all %}
            <h3 class="subtitle has-text-centered">Optræder på disse sange:</h3>
            <div class="multicols"><ul>
                {% for s in character.appears_on_song.all %}
                    <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
                {% endfor %} </ul>
            </div><br>
        {% endif %}
        {% if character.appears_on_sw_song.all %}
            <h3 class="subtitle has-text-centered">Optræder på disse numre fra SWGRS:</h3>
            <div class="multicols"><ul>
                {% for s in character.appears_on_sw_song.all %}
                    <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
                {% endfor %} </ul>
            </div><br>
        {% endif %}
        {% if character.producer.all %}
            <div class="is-divider" data-content="&#xf007"></div>
            <h3 class="subtitle has-text-centered">Producer på disse sange:</h3>
            <div class="multicols"><ul>
            {% for s in character.producer.all %}
                <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
            {% endfor %} </ul>
            </div><br>
        {% endif %}
        {% if character.appears_in_video.all %}
            <div class="is-divider" data-content="&#xf007"></div>
            <h3 class="subtitle has-text-centered">Medvirker i disse musikvideoer:</h3>
            <div class="tile is-ancestor">
            {% for v in character.appears_in_video.all %}
                <div class="tile is-parent is-3-fullhd is-4-widescreen is-4-desktop is-6-tablet mobile-fix has-image-centered">
                    <div class="tile is-child card has-background-light">
                <a href="{% url 'musicvideo_viewer' slug=v.slug %}">
                    <div class="card-content has-text-centered has-text-dark is-size-5">
                    {{ v.title }}
                </div></a></div></div>
            {% endfor %}
            </div><br>
        {% endif %}
        <div class="is-divider" data-content="&#xf007"></div>
        <h3 class="subtitle has-text-centered">Optræder i disse opslag:</h3>
        {% if posts %}
            <div class="tile is-ancestor">
            {% for post in posts %}
                <div class="tile is-parent is-4-fullhd is-6-widescreen is-6-desktop is-6-tablet mobile-fix has-image-centered">
                <div class="tile is-child">
                {% show_post_card post %}
                </div></div>
            {% endfor %}
            </div>
        {% endif %}
    </div></div></section>
{% endblock %}
