{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block content %}
    <div class="post">
        <h2>{{ character.name }}</h2>
        <img src="{{ character.photo.url }}" style="max-width: 300px"/>
        <p>{{ character.text }}</p>
        <p>Optræder på disse sange:</p><ul>
        {% for s in character.appears_on_song.all %}
            <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
        {% endfor %} </ul>
        {% if character.producer.all %}
            <p>Producer på disse sange:</p><ul>
            {% for s in character.producer.all %}
                <li> <a href="{% url 'song_viewer' slug=s.slug %}">{{ s.title }}</a></li>
            {% endfor %} </ul>
        {% endif %}
        {% if character.appears_in_video.all %}
        <p>Medvirker i disse musikvideoer:</p><ul>
        {% for v in character.appears_in_video.all %}
            <li><a href="{% url 'musicvideo_viewer' slug=v.slug %}">{{ v.title }}</a></li>
        {% endfor %}</ul>
        {% endif %}
        <p>Optræder i disse opslag:</p><ul>
        {% for post in posts %}
            <li>{% show_post post %}</li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
