{% if pref != "off" %}

<div class="comment-container background-meta is-behind">
<div id="closer_{{comment.alias}}" class="comment-closer" {% if pref != "on" %}style="display: none;"{% endif %}>
    <a class="delete" title="Skjul kommentar" onclick="commentToggle('{{comment.alias}}', 'btn_{{comment.alias}}', 'closer_{{comment.alias}}')"></a>
</div>
{# <div class="has-background-dark comment-bg"></div> #}

<article id="{{comment.alias}}" class="section comment-block story is-family-secondary is-size-5 has-text-light columns is-tablet is-centered{% if pref != 'on' %} disappeared collapsed {% endif %}"
    {% if pref == 'on' %} data-sal="slide-down" data-sal-duration="400" data-sal-easing="ease-in-out"{% endif %}>
    <div class="column is-10-tablet is-8-desktop is-6-full-hd darkmode justified">
        {{comment.text|safe}}

        {% for motif in comment.has_motif.all %}
        <div class="is-slightly-raised">
            <a id="head-{{comment.slug}}-{{motif.slug}}" class="motif-head" onclick="motifToggle('{{comment.slug}}', '{{motif.slug}}')">
              <div class="motif-head-left">
                <div class="level-item">
                  <h2 class="subtitle is-size-6 is-size-5-tablet is-size-4-desktop has-text-light has-text-centered">Gennemgående motiv: {{motif.title}}</h2>
                </div>
              </div>
              <div class="motif-head-right">
                <span><i class="fas fa-angle-double-down"></i></span>
              </div>
            </a>
            <div class="motif-view disappeared collapsed" id="{{comment.slug}}-{{motif.slug}}">
                {{motif.text|safe}}
            </div>
        </div>
        {% endfor %}
        {% for motif in comment.has_motif_open.all %}
        <div class="is-slightly-raised">
            <a id="head-{{comment.slug}}-{{motif.slug}}" class="motif-head" onclick="motifToggle('{{comment.slug}}', '{{motif.slug}}')">
              <div class="motif-head-left">
                <div class="level-item">
                  <h2 class="subtitle is-size-6 is-size-5-tablet is-size-4-desktop has-text-light has-text-centered">Gennemgående motiv: {{motif.title}}</h2>
                </div>
              </div>
              <div class="motif-head-right">
                <span><i class="fas fa-angle-double-down"></i></span>
              </div>
            </a>
            <div class="motif-view" id="{{comment.slug}}-{{motif.slug}}">
                {{motif.text|safe}}
            </div>
        </div>
        {% endfor %}
    </div>
</article>

<div class="comment-toggle">
    <button class="button navy-text is-dark is-inverted is-rounded" id="btn_{{comment.alias}}" {% if pref == "on" %}style="visibility: collapse;"{% endif %}
       onclick="commentToggle('{{comment.alias}}', 'btn_{{comment.alias}}', 'closer_{{comment.alias}}', true)"><i class="fas fa-angle-double-down"></i>&nbsp;&nbsp;Vis kommentar</p>
</div></div>

{% endif %}