<article id="{{ musicvideo.slug }}" class="section columns is-mobile is-centered">
<div class="column is-one-third"><div class="box">
    <a href="{% url 'musicvideo_viewer' slug=musicvideo.slug %}">
        <span class="title">{{ musicvideo.title }}</span>
        <span style="margin: 10px;" class="icon is-small">&emsp;<i class="fas fa-external-link-alt"></i></span>
    </a>
    <p class="subtitle">Musikvideo</p>
    {% if musicvideo.text %}
        <p>{{ musicvideo.text|safe }}</p>
    {% endif %}
    {% if musicvideo.appears.all %}
        <p class="has-text-grey is-size-7">Medvirkende:
        {% for c in musicvideo.appears.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
        </p><br>
    {% endif %}
    {{ embed_code|safe }}
</div></div>
</article>
