{% load itemviews %}


<article id="{{ song.slug }}" class="section columns is-tablet is-centered background-swgrs">
<div class="column is-two-thirds" data-sal="zoom-out" data-sal-duration="500" data-sal-easing="ease-in-out">
    <div class="box has-text-light has-background-dark darkmode">
    <a href="{% url 'item_detail' slug=song.slug tp=song.get_type %}">
        <span class="title has-text-light">{{ song.title }}</span><span class="icon is-small">&emsp;<i class="fas fa-external-link-alt"></i></span>
    </a>
    <p class="subtitle has-text-light">Fra SWGRS</p>
    <p>{{ song.text|safe }}</p><br>
    {% if embed_code_sc %}
        <div class="embed-placeholder">{{ embed_code_sc|safe }}</div>
        {% killplayers_msg %}
    {% endif %}
</div></div>
</article>

{% if song.comment %}
    {% show_comment song.comment request.COOKIES.show_comments %}
{% endif %}