{% load itemviews %}

<article id="{{ album.slug }}" class="section columns is-tablet is-centered background-release">
<div class="column is-two-thirds" data-sal="zoom-out" data-sal-duration="500" data-sal-easing="ease-in-out">
<div class="box">
    <a href="{% url 'album_viewer' slug=album.slug %}" title='Åbn "{{ album.title }}" i en ny fane'>
        <span class="title">{{ album.title }}</span>
        <span class="icon is-small">&emsp;<i class="fas fa-external-link-alt"></i></span>
    </a>
    <p class="subtitle">Album {{player_pref}}</p>
    <p>{{ album.text|safe }}</p><br>
    {% if player_pref == "spotify" %}
        <div class="embed-placeholder">{{ embed_code_sp|safe }}</div><br>
    {% else %}
        <div class="embed-placeholder">{{ embed_code_bc|safe }}</div>
    {% endif %}
    {% killplayers_msg %}
</div></div>
</article>

{% if album.comment %}
    {% show_comment album.comment request.COOKIES.show_comments %}
{% endif %}
