{% load itemviews %}

<article id="{{ song.slug }}" class="section columns is-tablet is-centered background-release">
<div class="column is-two-thirds" data-sal="zoom-out" data-sal-duration="500" data-sal-easing="ease-in-out">
<div class="box">
    <a href="{% url 'song_viewer' slug=song.slug %}">
        <span class="title">{{ song.title }}</span>
        <span style="margin: 10px;" class="icon is-small">&emsp;<i class="fas fa-external-link-alt"></i></span>
    </a>
    <p class="subtitle">Sang</p>

    <p>{{ song.text|safe }}</p><br>
    {% if request.COOKIES.use_player == "spotify" and embed_code_sp%}
        <div class="embed-placeholder">{{ embed_code_sp|safe }}</div>
    {% else %}
        {% if embed_code_bc %}
            <div class="embed-placeholder">{{ embed_code_bc|safe }}</div>
        {% endif %}
    {% endif %}
    {% killplayers_msg %}
</div></div>
</article>
