{% extends 'hobro/base.html' %}
{% load itemviews %}
{% load static %}

{% block title %}{% endblock %}
{% block cookies %}{% endblock cookies %}
{% block content %}
<section class="hero is-dark is-bold is-fullheight">
    <div id="konrad" class="hero is-fullheight" style="background-color: #000000;" >
    <div class="hero-body">
        <div class="container is-family-secondary has-text-centered">
        <h1 class="title is-capitalized is-size-1-desktop is-size-2-tablet is-size-2-mobile txt-shadow" id="kasper" style="opacity:0">Hobro for livet</h1>
        <h2 class="subtitle is-size-2-desktop is-size-3-tablet is-size-3-mobile txt-shadow" id="jens" style="opacity:0">Legenden om <em>Tegnedreng Records</em></h2>
            <img id="section-gfx" src="{% get_media_prefix %}chapters/chapter8.svg" style="opacity: 0;"/>
            <br>

    </div>
    </div>
      <div id="svend" class="hero-foot" style="opacity:0">
          <div style="text-align: center; padding:30px;">
            <p id="scrollBtn" class="button navy-text is-medium is-primary is-rounded do-shadow" style="margin:15px">
                <span class="icon is-small" style="margin-right:7px;"><i class="fas fa-angle-double-down"></i></span>
                Læs historien</p>
            <a href="{% url 'music_list' %}" class="button navy-text is-medium is-info is-rounded do-shadow" style="margin:15px">
                <span class="icon is-small" style="margin-right:7px;"><i class="fas fa-music"></i></span>
                Hør musikken</a>
        </div><br>
      </div>
</div>
</section>

<section id="read" class="section background-main is-sunk"><div class="columns is-mobile is-centered">
    <div class="column story justified is-9-tablet is-7-widescreen notecard is-family-secondary is-size-5">
    <h1 class="title is-size-2-desktop is-size-3-tablet has-text-centered has-text-weight-normal is-smallcaps">Indledning</h1>
    <div class="is-divider" data-content="&#xf518"></div>
    <p>Den 1. oktober 2015 dukkede <em>Tegnedreng Records</em> op på internettet. De fremførte sig selv som en rap-gruppe fra Hobro, og lagde en endeløs strøm af opslag og billeder ud på de sociale medier. Snart fulgte også musik – album efter album af hip-hop-sange med tåbelige tekster fra mere eller mindre kompetente rappere. Deres personlige drama, alle deres sejre, nederlag og interne konflikter, var plastret op og ned ad Facebook og Instagram. </p>
    <p>Og så – den 1. april 2016 – forsvandt de igen, uden spor eller varsel. De var borte, lige så brat som de dukkede op. Hvad blev der af dem?</p>
    <p>Det her kunne være et mysterium, en gåde, som man kunne kaste sig over og febrilsk optrævle, i håbet om at opspore den mystiske gruppe og aftvinge sig en forklaring. Denne hjemmeside kunne være journal over den omhyggelige efterforskning. Men det er der ingen grund til.</p>
    <p>For Tegnedreng Records er en fiktion. De er det pure opspind, og det er mig, der står bag det hele. Mit navn er Sigfred Nielsen, og i 2015 var jeg en bachelorstuderende ved det nu hedengangne Informations&shy;videnskabelige Akademi i Aalborg. Her fik jeg ideen til et tosset projekt, og som det tossede menneske jeg er, førte jeg det ud i livet.</p>
    <p>Jeg ville opdigte en rap-gruppe, og give den et liv online. Og så ville jeg over en på forhånd fastlagt periode iscenesætte deres gøren og laden. Jeg ville opføre en på forhånd nedskrevet fortælling, som en slags online teater – en multimodal roman i realtid. Og jeg ville skrive, producere og udgive store mængder af musik, som jeg ville gøre mit bedste for at få skabt opmærksomhed om. Jeg ville gøre alt hvad jeg kunne for at gøre gruppen landskendte, dog uden at afvige fra mit manuskript. Og så – på den på forhånd planlagte afslutningsdato, d. 1. april – ville jeg slukke det hele ned, uanset hvor kendt eller ukendt, gruppen var.</p>
    <p>Og jeg gjorde det. Gruppen blev ikke berømt, men det var nok også for det bedste. Det ville have været et hulens besvær, selvom det kunne have været en sjov anekdote at fortælle. Men jeg førte projektet ud i livet, og fik fortalt den historie, jeg havde fundet på. Og på vejen blev det til syv albums, tre musikvideoer, og et utal af mærkelige billeder og tekster. Og det blev til en hel del minder – og indirekte, til Månegal Medias eksistens.</p>
    <p>For jeg gjorde det selvfølgelig ikke alene. Mange mennesker hjalp til med at gøre projektet til virkelighed, især fra mine medstuderendes rækker. Uden hjælp fra Martin, Mads, Kaare, Henrik, Emil, Heine, Ingo, Sofie, Marcel, Mathilde, og mange flere, ville det slet ikke have været muligt – en stor tak til dem alle.</p>
    <p>Men hvorfor skriver jeg så alt dette, her i skrivende stund d. 31. marts 2019?</p>
    <p>Siden projektet sluttede for tre år siden, har det haft et støt eftermæle. Det blev en del af kulturen og fællesskabet på et lille universitets&shy;studie, der snart efter blev lukket ned; det blev et springbræt til flere sære og sjove projekter med mange af de samme deltagere; og det høres, deles og diskuteres stadig i det små rundt omkring.</p>
    <p>Men én ting ved projektet, der lidt var gået tabt, var historien, det fortalte. Den var tænkt som en roman, der levede i Facebook’s tidslinje – et hændelsesforløb og karakterdrama, der udspillede sig gennem opslag på de sociale medier. Jeg havde en idé om at siden indhold på disse hjemmesider vises i omvendt kronologisk rækkefølge, med de nyeste opslag først, skulle det være en historie, der kunne læses i begge retninger. Fortællingens verden skulle kunne åbne og udfolde sig lige vel fra begge ender, og slutningen skulle ligge i begyndelsen. Det var en del af tanken bag det hele – men én som i praksis aldrig blev ordentligt realiseret. Det kunne simpelthen ikke lade sig gøre, samtidig med at historen tilpassede sig løbende til virkelighedens omstændigheder.</p>
    <p>Fortællingen er der dog stadig, og hændelsesforløbet kører hele vejen igennem projektet. Den er bare svær at få øje på, når man kigger på gruppens Facebook-side, og endnu sværere at sætte sig ned og læse igennem. En ting, som jeg ikke havde taget højde for, var hvor uegnede de sociale medier er til at bevare og fremlægge dét, der er fundet sted; de er for fokuseret på sidste nyt og det mest opmærksomhedsopslugende indhold. De er <em>ikke</em> egnede som fortællemedie.</p>
    <p>Så derfor har jeg lavet denne side. Jeg har med flid og møje trukket alle gruppens opslag ud af de sociale medier, og gjort dem til en læselig multimodal roman. Historien om Tegnedreng Records foreligger nu endelig i sin helhed – en fortælling om ambitioner om rigdom og berømmelse, om sammenhold og opbrud, og om at satse alt på en drøm, der måske ikke fører nogen vegne hen. Og så selvfølgelig, masser af gakket rap-musik.</p>
    <p>Her er en forsmag:</p>
    <br>
    <div class="youtube-embed"><iframe class="lazy loaded" data-src="https://www.youtube.com/embed/43ZbeVUATBQ" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" src="https://www.youtube.com/embed/43ZbeVUATBQ" data-was-processed="true" width="560" height="315" frameborder="0"></iframe></div>
</div>
</div></section>

<section class="section columns is-tablet is-centered background-meta is-raised">
    <div class="column is-11-tablet is-9-desktop is-7-fullhd box big-box">
        <div class="is-divider" data-content="&#xf013"></div>
        <div class="content">
            <p>Historien har et kommentarspor, hvor jeg løbende giver små bag-om-scenerne-betragtninger, forklaringer af forskellige motivers betydning og ophav, og sektioner fra den oprindelige drejebog, som jeg skrev før projektet blev iværksat.</p>
            <p>Du kan selv vælge om kommentarsporet skal være synligt mens du læser.</p>
        </div>
        <br>



    <div class="columns has-text-centered field">
        <div class="column"><div class="card">
            <div class="card-header"><div class="card-header-title is-centered">
              <input class="is-checkradio" id="commentOffs" type="radio" name="commentradio"
                     {% if request.COOKIES.show_comments == "off" %}checked{% endif %}>
              <label for="commentOffs">Fokus på historien</label>
            </div></div>
            <div class="card-content content">
                <p>Kommentarer vises ikke</p>
                <p>Bedst til dem, der ikke kender så meget til projektet, og gerne vil opleve fortællingen uforstyrret</p>
            </div>
        </div></div>

        <div class="column"><div class="card">
            <div class="card-header"><div class="card-header-title is-centered">
              <input class="is-checkradio" id="commentToggles" type="radio" name="commentradio"
                     {% if request.COOKIES.show_comments == "toggle" %}checked
                            {% elif not request.COOKIES.show_comments %}checked{% endif %}>
              <label for="commentToggles">Det frie valg</label>
          </div></div>
            <div class="card-content content">
                <p>Hver kommentar er som udgangspunkt skjult, men kan vises med et tryk på en knap</p>
                <p>Viser den rene fortælling, men gør det samtidig muligt at dykke dybere ned i dele af den</p>
            </div>
        </div></div>

        <div class="column"><div class="card">
            <div class="card-header"><div class="card-header-title is-centered">
              <input class="is-checkradio " id="commentOns" type="radio" name="commentradio"
                     {% if request.COOKIES.show_comments == "on" %}checked{% endif %}>
              <label for="commentOns">Det fulde billede</label>
            </div></div>
            <div class="card-content content">
                <p>Alle kommentarer vises</p>
                <p>Bedst til dem, der kender projektet godt – især dem, der var en del af det</p>
            </div>
        </div></div>

    </div>

    <div class="is-divider" data-content="&#xf013"></div>
        <div class="box has-background-warning media">
            <span class="media-left icon is-large">
              <i class="fas fa-cookie-bite"></i>
            </span>
          <div class="media-content">
        Denne side bruger cookies. Det betyder at den gemmer små stumper af information i din internetbrowser, for at huske dine indstillinger mv. på siden.
        Når du klikker videre nedenunder, accepterer du det. </div>
            </div>
    <div class="has-text-centered">
        <a id="startReading" href="{% url 'item_page' number=1 %}" class="button navy-text is-medium is-primary is-rounded">
            <span class="icon"><i class="fas fa-forward"></i></span>
            <span>Begynd med kapitel 1</span>
        </a>
    </div>
</div>
</section>

<script>
    window.onload = function(){
        var konrad = document.getElementById("konrad");
        var svend = document.getElementById("svend");
        var kasper = document.getElementById("kasper");
        var jens = document.getElementById("jens");
        var rasmus = document.getElementById("section-gfx");
        if ( showAnimations() ) {
            Velocity(konrad, { backgroundColor: 'rgba(200, 200, 192, 0)' }, 6000, 'ease-out' );
            Velocity(kasper, { transform: [ "scale(1)", "scale(0.96)" ], opacity: [1, 0] }, {duration: 2000, delay: 400, easing: 'ease-in'} );
            Velocity(jens, { transform: [ "scale(1)", "scale(0.98)" ], opacity: [1, 0] }, {duration: 2000, delay: 800, easing: 'ease-in'} );
            Velocity(rasmus, { transform: [ "scale(1)", "scale(0.8)" ], opacity: [1, 0] }, {duration: 2000, delay: 1200, easing: 'ease-in'} );
            Velocity(svend, { transform: [ "translateY(0)", "translateY(5%)" ], opacity: [1, 0] }, {duration: 1000, delay: 2000, easing: 'ease-in'} );
        } else {
            konrad.style.backgroundColor = "rgba(200, 200, 192, 0)";
            kasper.style.opacity = "1";
            jens.style.opacity = "1";
            rasmus.style.opacity = "1";
            svend.style.opacity = "1";
        }
    }

    var read = document.getElementById('read');
    var btn = document.getElementById('scrollBtn');

    btn.addEventListener('click', function() {
        scrollTo(document.body, read.offsetTop, 125);
    });


    var startReadingBtn = document.getElementById('startReading');
    startReadingBtn.addEventListener('click', function() {
        setCookie('cookie_consent', "true", 365);
    });

    document.getElementById("commentOffs").addEventListener("click", setCommentPrefs);
    document.getElementById("commentOns").addEventListener("click", setCommentPrefs);
    document.getElementById("commentToggles").addEventListener("click", setCommentPrefs);
</script>
{% endblock %}
