{% extends 'hobro/base.html' %}
{% load itemviews %}
{% load static %}

{% block title %}
{% if number %}Kapitel {{ number }}
{% else %}Alle kapitler{% endif %}
{% endblock %}


{% block content %}
<div class="progress-container">
    <div class="progress-bar" id="theProgressBar"></div>
</div>

    {% for item in items %}
        {% with a=item.get_type %}
            {% if a == "section" %}
                {% show_section item %}
            {% elif a == "story" %}
                {% show_story item %}
            {% elif a == "opslag" %}
                {% show_post item %}
            {% elif a == "billede" %}
                {% show_postphoto item %}
            {% elif a == "video" %}
                {% show_postvideo item %}
            {% elif a == "navneskift" %}
                {% show_profileevent item %}
            {% elif a == "itemembed" %}
                {% show_itemembed item %}
            {% elif a == "swgrs-opslag" %}
                {% show_swgrspost item %}
            {% elif a == "swgrs-billede" %}
                {% show_swgrsmedia item %}
            {% else %}
                <div class="post">
                    <h2>Indhold kunne ikke findes</h2>
                    <p>{{item}}</p>
                </div>
            {% endif %}
        {% endwith %}
        {% if item.comment %}
            {% show_comment item.comment comment_pref %}
        {% endif %}
    {% endfor %}
    <div class="section is-medium has-background-dark is-raised has-text-centered">
    {% if next %}
        <a href="{% url 'item_page' number=next %}" class="button navy-text is-medium is-primary is-rounded do-shadow" data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out">
            <span class="icon"><i class="fas fa-forward"></i></span>
            <span>Videre til kapitel {{next}}</span>
        </a>
    {% else %}
        <h2 class="title is-2 has-text-light">Her slutter historien</h2><br>
        <p class="has-text-light is-size-5">
        <div class="columns is-desktop has-text-centered endnote">
            <div class="column">
            <p class="has-text-light is-size-5">Har du ikke fået nok af de lækre beats og smadrede rim?</p><br>
            <a href="{% url 'music_list' %}" class="button navy-text is-medium is-info is-rounded do-shadow"  data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out">
                <span class="icon"><i class="fas fa-music"></i></span>
                <span>Udforsk musikken</span>
            </a>
            </div>
            <div class="column">
            <p class="has-text-light is-size-5">Vil du høre lidt mere om hvem, der var involveret, og teknikken bag siden? Eller har du noget, du gerne vil fortælle os?</p><br>
            <a href="{% url 'about' %}" class="button navy-text is-medium is-danger is-rounded do-shadow"  data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out">
                <span class="icon"><i class="fas fa-align-center"></i></span>
                <span>Læs rulleteksterne</span>
            </a>
            </div>
            <div class="column">
            <p class="has-text-light is-size-5"><em>Tegnedreng Records</em> er et projekt fra Månegal Media, et tosset mediekollektiv fra Aalborg. Hvis du brød dig om det, har vi mange andre projekter, der nok vil falde i din smag.</p><br>
            <a href="https://maanegal.dk" class="button navy-text is-medium is-primary is-rounded do-shadow"  data-sal="slide-up" data-sal-duration="2000" data-sal-easing="ease-out">
                <span class="icon"><i class="fas fa-moon"></i></span>
                <span>Se mere fra Månegal Media</span>
            </a>
            </div>
        </div>
    {% endif %}
    </div>


{% if not continued %}
{% if request.COOKIES.bookmark != "off" %}
<div id="bookmark-note" class="bookmark note notification is-link {% if request.COOKIES.show_animations == 'false' %} no-motion{% endif %}">
<span class="media-left icon"><i class="fas fa-bookmark"></i></span>Der er et bogmærke gemt</div>

<div id="bookmark-banner" class="bookmark notification is-link {% if request.COOKIES.show_animations == 'false' %} no-motion{% endif %}">
<button class="delete" id="bookmark-hide"></button>
<div class="columns is-desktop">
    <div class="column">
    <div class="media">
        <span class="media-left icon">
          <i class="fas fa-bookmark"></i>
        </span>
      <div class="media-content">Siden er sat til at huske hvor langt du er nået i læsningen af historien. Vil du fortsætte hvor du slap?</div>
    </div>
    </div>
    <div class="column has-text-left is-narrow buttons" style="padding: 0.25em;">
        <a class="button is-success has-a-little-space" id="bookmark-go">
            <span class="icon is-small"><i class="fas fa-forward"></i></span>
            <span>Gå til bogmærke</span></a>
        <a class="button is-danger has-a-little-space" id="bookmark-off">
            <span class="icon is-small"><i class="fas fa-toggle-off"></i></span>
            <span>Gem ikke bogmærker</span></a>
    </div>
</div></div>
<div id="bookmark-off-note" class="bookmark notification is-link {% if request.COOKIES.show_animations == 'false' %} no-motion{% endif %}">
Siden gemmer ikke længere et bogmærke. Du kan altid slå det til igen i sidens indstillinger, der kan tilgås fra menuen til venstre.
</div>
{% endif %}
{% endif %}
{% endblock %}

{% block extrascript %}
<script> var continued = "{{continued}}"; var number = "{{number}}"; </script>
<script src="{% static 'hobro/js/itemlist.js' %}"></script>
{% endblock %}
