{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block content %}
    {% with a=item.get_type %}
        {% if a == "post" %}
            {% show_post item %}
        {% elif a == "postphoto" %}
            {% show_postphoto item %}
        {% elif a == "postvideo" %}
            {% show_postvideo item %}
        {% elif a == "profileevent" %}
            {% show_profileevent item %}
        {% elif a == "swgrs_post" %}
            {% show_swgrspost item %}
        {% elif a == "swgrs_media" %}
            {% show_swgrsmedia item %}
        {% else %}
            <div class="post">
                <h2>Indhold kunne ikke findes</h2>
                <p>{{item}}</p>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
