{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block content %}
    {% for item in items %}
        {% with a=item.get_type %}
            {% if a == "section" %}
                {% show_section item %}
            {% elif a == "story" %}
                {% show_story item %}
            {% elif a == "post" %}
                {% show_post item %}
            {% elif a == "postphoto" %}
                {% show_postphoto item %}
            {% elif a == "postvideo" %}
                {% show_postvideo item %}
            {% elif a == "profileevent" %}
                {% show_profileevent item %}
            {% else %}
                <div class="post">
                    <h2><a href="{% url 'item_detail' pk=item.pk %}">{{ item.time_stamp }}</a></h2>
                    {{ item.text | safe }}
                </div>
            {% endif %}
        {% endwith %}
    {% endfor %}
{% endblock %}