{% load itemviews %}

<div id="{{ itemembed.time_stamp }}" class="{{ layout_outer }}">
    {% if kind == "character" %}
        {% embed_character itemembed.target_character.all %}
    {% elif kind == "song" %}
        {% embed_song itemembed.target_song.all %}
    {% elif kind == "album" %}
        {% embed_album itemembed.target_album.all %}
    {% elif kind == "musicvideo" %}
        {% embed_musicvideo itemembed.target_musicvideo.all %}
    {% elif kind == "swgrs_song" %}
        {% embed_swgrssong itemembed.target_swgrssong.all %}
    {% else %}
        <div class="box">
            <h2>Kunne ikke findes...</h2>
            <p>Embed det her: {{ itemembed.target }}</p>
            private key: {{ itemembed.pk }} - type: {{ itemembed.what_kind }} -
            slug: {{ itemembed.get_embed.slug }} - timestamp: {{ itemembed.get_embed.time_stamp }}
        </div>
    {% endif %}
</div>