{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block title %}
    {% with a=item.get_type %}
        {% if a == "opslag" %}
            "{{ item.text|striptags|truncatechars:35 }}"
        {% elif a == "billede" %}
            "{{ item.text|striptags|truncatechars:35 }}"
        {% elif a == "video" %}
            "{{ item.text|striptags|truncatechars:35 }}"
        {% elif a == "navneskift" %}
            Nyt navn: {{ item.page_name }}
        {% elif a == "swgrs-opslag" %}
            "{{ item.text|striptags|truncatechars:35 }}"
        {% elif a == "swgrs-billede" %}
            "{{ item.text|striptags|truncatechars:35 }}"
        {% elif a == "swgrs-sang" %}
            {{ item.title }}
        {% else %}

        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    {% with a=item.get_type %}
        {% if a == "opslag" %}
            {% show_post item %}
        {% elif a == "billede" %}
            {% show_postphoto item %}
        {% elif a == "video" %}
            {% show_postvideo item %}
        {% elif a == "navneskift" %}
            {% show_profileevent item %}
        {% elif a == "swgrs-opslag" %}
            {% show_swgrspost item %}
        {% elif a == "swgrs-billede" %}
            {% show_swgrsmedia item %}
        {% elif a == "swgrs-sang" %}
            {% embed_swgrssong item %}
        {% else %}
            <div class="post">
                <h2>Indhold kunne ikke findes</h2>
                <p>{{item}}</p>
            </div>
        {% endif %}
    {% endwith %}
    {% if item.comment %}
        {% show_comment item.comment comment_pref %}
    {% endif %}
{% endblock %}
