{% extends 'hobro/base.html' %}

{% block content %}
    <section class="section columns is-tablet is-centered">
    <div class="column is-two-thirds is-centered"><div class="box big-box">
    <h1 class="title is-size-2-desktop is-size-3-tablet has-text-centered">Musik fra Tegnedreng Records</h1>
    <div class="is-divider" data-content="&#xf001"></div>
    <h2 class="subtitle is-3 has-text-centered">Albums</h2>

    <div class="tile is-ancestor" style="flex-wrap: wrap;">
    {% for album in albums %}
        <div class="tile is-parent is-3 has-image-centered" style="max-width: 70%;">
            <div class="tile is-child card has-background-light">
              <div class="card-image">
                <figure class="image">
                    <a href="{% url 'album_viewer' slug=album.slug %}">
                        <img src="{{ album.photo.url }}" alt="{{ album.title }}"></a>
                </figure>
              </div>
                <div class="card-content">
                <a class="title is-4" href="{% url 'album_viewer' slug=album.slug %}">{{ album.title }}</a>
                    <p>{{ album.release_date|date:"F j Y" }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    <br>
    <div class="is-divider" data-content="&#xf001"></div>
    <h2 class="subtitle is-3 has-text-centered">Musikvideoer</h2>
    <div class="multicol-3"><ul>
    {% for musicvideo in musicvideos %}
        <li><a href="{% url 'musicvideo_viewer' slug=musicvideo.slug %}">{{ musicvideo.title }}</a></li>
    {% endfor %}
    </ul></div>
    <br>
    <div class="is-divider" data-content="&#xf001"></div>
    <h2 class="subtitle is-3 has-text-centered">Sange</h2>
    <div class="multicol-3"><ul>
    {% for song in songs %}
        <li><a href="{% url 'song_viewer' slug=song.slug %}">{{ song.title }}</a></li>
    {% endfor %}
    </ul></div>
    <br>
    <div class="is-divider" data-content="&#xf001"></div>
</div></section>
{% endblock %}