<div class="modal" id="modal_{{ post.time_stamp }}">
  <div class="modal-background" onclick="modalClose('modal_{{ post.time_stamp }}')"></div>
  <div class="modal-content">
      <img src="{{ post.photo.url }}" height="{{ post.photo.height }}" width="{{ post.photo.width }}"/>
  </div>
  <button class="modal-close is-large" onclick="modalClose('modal_{{ post.time_stamp }}')" aria-label="close"></button>
</div>

<article id="{{ post.time_stamp }}" class="section is-medium columns is-tablet is-gapless {{ layout_outer }}">
  <div class="column starts-transparent alivez slide post-img is-one-third-desktop is-half-tablet" data-sal="slide-up-short" data-sal-duration="500" data-sal-easing="ease-out">
      <a onclick="modalOpen('modal_{{ post.time_stamp }}')">
    <img class="lazy do-shadow" data-src="{{ post.photo.url }}" height="{{ post.photo.height }}" width="{{ post.photo.width }}"/>
      </a>
  </div>
  <div class="column alivez slide-long is-one-third-desktop is-half-tablet" data-sal="slide-up" data-sal-duration="600" data-sal-easing="ease-out">
    <div class="box">
    <div class="media">
      <figure class="media-left">
        <div class="image is-64x64"><img class="lazy" data-src="{{ profilepic.url }}" alt="{{ name }}"></div>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4">{{ name }} (id: {{post.get_type}} {{ post.time_stamp }}) {% if not post.link_fb%}FB mangler{%endif%}</h2>
            <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
            <p>{{ post.text|safe }}</p>
            {% if post.appears.all %}
                <p class="has-text-grey is-size-7">I dette opslag:
                {% for c in post.appears.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
                </p>
            {% endif %}
        </div>
      </div>
      <div class="media-right">
          <ul class="lightmode icon-list">
          <li><a href="{% url 'item_detail' pk=post.pk tp=post.get_type %}">
            <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          {% if post.link_fb %}
              <li><a href="{{ post.link_fb }}" target="_blank" rel="noopener">
                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
              </a></li>
          {% endif %}
          {% if post.link_ig %}
              <li><a href="{{ post.link_ig }}" target="_blank" rel="noopener">
                <span class="icon is-small"><i class="fab fa-instagram"></i></span>
              </a></li>
          {% endif %}
          {% if post.link_tw %}
              <li><a href="{{ post.link_tw }}" target="_blank" rel="noopener">
                <span class="icon is-small"><i class="fab fa-twitter"></i></span>
              </a></li>
          {% endif %}
          </ul>
      </div>
    </div>
    </div>
  </div>
</article>