<article id="{{ post.time_stamp }}" class="section has-line columns is-tablet {{ layout_outer }}">
<div class="column {{ layout_inner }}" {{ anim|safe }}>
<div class="box">
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{{ profilepic.url }}" alt="{{ name }}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4">{{ name }}</h2>
            <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
            <p>{{ post.text|safe }}</p>
            {% if post.appears.all %}
                <p class="has-text-grey is-size-7">I dette opslag:
                {% for c in post.appears.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
                </p>
            {% endif %}
        </div>
      </div>
      <div class="media-right">
          <ul class="lightmode icon-list">
          <li><a href="{% url 'item_detail' pk=post.pk tp=post.get_type %}">
            <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          {% if post.link_fb %}
              <li><a href="{{ post.link_fb }}" target="_blank" rel="noopener">
                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
              </a></li>
          {% endif %}
          {% if post.link_tw %}
              <li><a href="{{ post.link_tw }}" target="_blank" rel="noopener">
                <span class="icon is-small"><i class="fab fa-twitter"></i></span>
              </a></li>
          {% endif %}
          </ul>
      </div>
    </div>
</div>
</div>
</article>