<article id="{{ post.time_stamp }}" class="section slide is-medium has-line columns is-tablet is-gapless {{ layout_outer }}">
  <div class="column is-one-third alive slide">
    <video class="lazy do-shadow" data-src="{{ post.video.url }}" controls="1" height="{{ post.photo.height }}" width="{{ post.photo.width }}">
        <a href="{{ post.video.url }}"> <img class="lazy" data-src="{{ post.photo.url }}"></a>
    </video>
  </div>
  <div class="column is-one-third alive slide-long">
    <div class="box">
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img class="lazy" data-src="{{ profilepic.url }}" alt="{{ name }}">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4">{{ name }} (id: {{post.get_type}} {{ post.time_stamp }}) {% if not post.link_fb%}FB mangler{%endif%}</h2>
            <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
            {% if post.title %}
                <h4 class="subtitle is-5">{{ post.title }}</h4>
            {% endif %}
            <p>{{ post.text|safe }}</p>
            {% if post.appears.all %}
                <p class="has-text-grey is-size-7">I dette opslag:
                {% for c in post.appears.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
                </p>
            {% endif %}
        </div>
      </div>
      <div class="media-right">
          <ul class="lightmode icon-list">
          <li><a href="{% url 'item_detail' pk=post.pk tp=post.get_type %}">
            <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          {% if post.link_fb %}
              <li><a href="{{ post.link_fb }}">
                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
              </a></li>
          {% endif %}
          {% if post.link_ig %}
              <li><a href="{{ post.link_ig }}">
                <span class="icon is-small"><i class="fab fa-instagram"></i></span>
              </a></li>
          {% endif %}
          {% if post.link_tw %}
              <li><a href="{{ post.link_tw }}">
                <span class="icon is-small"><i class="fab fa-twitter"></i></span>
              </a></li>
          {% endif %}
          </ul>
      </div>
    </div>
    </div>
  </div>
</article>