<section id="{{ profileevent.time_stamp }}" class="section columns is-mobile is-centered">
<div class="column is-two-thirds"><div class="box">
    <p class="subtitle">Profilen skiftede navn og billede</p>
    <h3 class="title">{{ profileevent.page_name }}</h3>
    <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
    <p>{{ profileevent.text|safe }}</p>
    <img src="{{ profileevent.photo.url }}" class="image" alt="{{ profileevent.page_name }}">
</div></div>
</section>
