{% extends 'hobro/base.html' %}
{% load static %}

{% block title %}Søgning og indeks{% endblock %}
{% block content %}
    <section class="section columns is-tablet is-centered">
    <div class="column is-two-thirds is-centered"><div class="box big-box">
        <div class="tabs is-centered is-responsive is-boxed">
          <ul>
            <li class="is-active"><a href="/indeks/">
                <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
                <span>Søg</span></a></li>
            <li><a href="/hashtags/">
                <span class="icon is-small"><i class="fas fa-hashtag" aria-hidden="true"></i></span>
                <span>Hashtags</span></a></li>
            <li><a href="/galleri/">
                <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                <span>Galleri</span></a></li>
          </ul>
        </div>
        <br>
        <div class="columns is-centered is-desktop">
            <div class="column is-half-desktop">
                <form id="searchform" action="{% url 'search_index' %}" method="get" accept-charset="utf-8" class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input" type="text" name="q" id="query" placeholder="Søg..."{% if query %} value="{{query}}"{% endif %}>
                      <span class="clear-input"><span class="control"><a class="delete" onclick="clearText('query')"></a></span></span>
                  </div>
                  <div class="control">
                      <button class="button is-info" type="submit">
                          <span class="icon"><i class="fas fa-search"></i></span>
                      </button>
                  </div>
                </form>
                <br>
                <p>Søgefunktionen er meget basal. Der tages ikke forbehold for stavevariationer i fx sangtekster. Hvis der er noget, du ikke kan finde, kan du prøve at erstatte “ligesom” med “lissom”, “ikke” med “ik’”, osv.</p>
            </div>
        </div>
        <br>
        <div class="is-divider" data-content="&#xf002"></div>

        {% if results %}
        <h2 class="title has-text-centered">{{ results|length }} resultater for “{{query}}”</h2>


        <div class="tile is-ancestor">
        {% for hit in results %}
            <div class="tile is-parent is-4-fullhd is-4-widescreen is-6-desktop is-6-tablet has-image-centered mobile-fix">
            <div class="tile is-child"><div class="card has-background-light">
            {% if hit.get_type == "character" %}
                <a href="{% url 'character_viewer' slug=hit.slug %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">Medlem</p>
                <p class="title is-4 {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.name }}</p>
                <figure class="image"><img class="is-rounded" src="{{ hit.photo.url }}" alt="{{ hit.name }}"></figure>
                </div></a>
            {% elif hit.get_type == "album" %}
                <a href="{% url 'album_viewer' slug=hit.slug %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">Album</p>
                <p class="title is-4 {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.title }}</p>
                <img class="lazy" data-src="{{ hit.photo.url }}" alt="{{ hit.title }}">
                </div></a>
            {% elif hit.get_type == "musicvideo" %}
                <a href="{% url 'musicvideo_viewer' slug=hit.slug %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">Musikvideo</p>
                <p class="title is-4 {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.title }}</p>
                <img class="lazy halfwidth" data-src="{{ hit.song.album.photo.url }}" alt="{{ hit.title }}">
                </div></a>
            {% elif hit.get_type == "song" %}
                <a href="{% url 'song_viewer' slug=hit.slug %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">Sang</p>
                <p class="title is-4 {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.title }}</p>
                <img class="lazy halfwidth" data-src="{{ hit.album.photo.url }}" alt="{{ hit.title }}">
                </div></a>
            {% elif hit.get_type == "swgrs-sang" %}
                <a href="{% url 'item_detail' slug=hit.slug tp=hit.get_type %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">SWGRS-nummer</p>
                <p class="title is-4 {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.title }}</p>
                <img class="lazy halfwidth" data-src="{% get_media_prefix %}/swgrs/profile_thumb.jpg" alt="SWGRS">
                </div></a>
            {% elif hit.get_type == "swgrs-opslag" or hit.get_type == "swgrs-billede" %}
                <a href="{% url 'item_detail' slug=hit.slug tp=hit.get_type %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">SWGRS-opslag</p>
                {% if hit.photo %}
                <img class="lazy" data-src="{{ hit.photo.url }}" alt="Opslag fra SWGRS med billede"/>
                {% else %}
                <img class="lazy halfwidth" data-src="{% get_media_prefix %}/swgrs/profile_thumb.jpg" alt="SWGRS">
                {% endif %}
                <p class="has-text-left break-word {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.text|striptags|safe|truncatechars:280 }}</p>
                </div></a>
            {% else %}
                <a href="{% url 'item_detail' slug=hit.slug tp=hit.get_type %}">
                <div class="card-content has-text-centered {% if hit.slug in good_results %}has-background-success{% endif %}">
                <p class="subtitle {% if hit.slug in good_results %}has-text-light{% endif %}">Opslag</p>
                {% if hit.photo %}
                <img class="lazy" data-src="{{ hit.photo.url }}" alt="Opslag med billede"/>
                {% endif %}
                <p class="has-text-left break-word {% if hit.slug in good_results %}has-text-light{% endif %}">{{ hit.text|striptags|safe|truncatechars:280 }}</p>
                </div></a>
            {% endif %}
            </div></div></div>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}