{% load static %}
<section id="{{ section.time_stamp }}" class="hero is-behind-top is-dark is-fullheight">
  <div class="hero-body">
    <div class="container is-family-secondary has-text-centered">

        <h2 id="section-num" class="subtitle is-size-2-desktop is-size-3-tablet is-size-3-mobile" data-sal="zoom-in-light" data-sal-duration="2000" data-sal-delay="200" data-sal-easing="ease-in">Kapitel {{section.number}}</h2>
        <img id="section-gfx" src="{% get_media_prefix %}chapters/chapter{{section.number}}.svg" data-sal="zoom-out" data-sal-duration="2000" data-sal-delay="200" data-sal-easing="ease-in-out"/>
        <h1 id="section-title" class="title is-size-1-desktop is-size-2-tablet is-size-2-mobile" data-sal="zoom-in-light" data-sal-duration="2000" data-sal-delay="510" data-sal-easing="ease-in">{{section.text}}</h1>


    </div></div>
      <div id="section-scroll" class="hero-foot" data-sal="slide-down" data-sal-duration="1600" data-sal-delay="2000" data-sal-easing="ease-out"><div style="text-align: center; padding:30px;">
          <h2 class="is-size-3 has-text-light"><i class="fas fa-angle-double-down"></i></h2>
      </div></div>
  </div>
</section>
<div class="is-after-behind"></div>