{% load static %}
<div class="section-flag" style="position: absolute;top: 70vh;width:10px; height:10px;background-color:transparent;"></div>
<section id="{{ section.time_stamp }}" class="hero is-behind-top is-dark is-bold is-fullheight">
  <div class="hero-body">
    <div class="container is-family-secondary has-text-centered">

        <h2 id="section-num" class="subtitle is-size-2-desktop is-size-3-tablet is-size-3-mobile" data-sal="zoom-in-light" data-sal-duration="2000" data-sal-delay="200" data-sal-easing="ease-in">Kapitel {{section.number}}</h2>
        <img id="section-gfx" src="{% get_media_prefix %}chapters/chapter{{section.number}}o.svg" data-sal="zoom-out" data-sal-duration="2000" data-sal-delay="200" data-sal-easing="ease-in-out"/>
        <h1 id="section-title" class="title splash" data-sal="zoom-in-light" data-sal-duration="2000" data-sal-delay="510" data-sal-easing="ease-in">{{section.text}}</h1>


    </div></div>
      <div id="section-scroll" class="hero-foot front" data-sal="slide-down" data-sal-duration="1600" data-sal-delay="2000" data-sal-easing="ease-out">
          <i class="is-size-3 is-size-4-mobile has-text-light fas fa-angle-double-down"></i>
      </div>
  </div>
</section>
<div class="is-after-behind"></div>