{% extends 'hobro/base.html' %}
{% load itemviews %}

{% block title %}{{ song.title }}{% endblock %}
{% block content %}
<div class="modal" id="modal_{{ song.slug }}">
  <div class="modal-background" onclick="modalClose('modal_{{ song.slug }}')"></div>
  <div class="modal-content">
      <img src="{{ song.album.photo.url }}" height="{{ song.album.photo.height }}" width="{{ song.album.photo.width }}"/>
  </div>
  <button class="modal-close is-large" onclick="modalClose('modal_{{ song.slug }}')" aria-label="close"></button>
</div>

    <section id="{{ song.slug }}" class="section columns is-tablet is-centered">
    <div class="column is-8-widescreen is-10-desktop"><div class="box big-box">
       <a class="button is-dark is-outlined is-small navy-text backlink" href="/musik/">
        <span class="icon is-small"><i class="fas fa-long-arrow-alt-left"></i></span>
          <span>Al musikken</span></a>
        <div class="media">
              <figure class="media-left flex-20">
                <p class="image">
                    {% if song.album %}
                    <a onclick="modalOpen('modal_{{ song.slug }}')">
                      <img src="{{ song.album.photo.url }}" alt="{{ song.album.title }}">
                    </a>
                    {% endif %}
                </p>
              </figure>
              <div class="media-content">
                  <h1 class="title is-size-3 is-size-2-widescreen">{{ song.title }}</h1>
                  {% if song.album %}
                  <h2 class="subtitle is-size-6 is-size-5-tablet">Nummer {{ song.track_number }} på albummet <a href="{% url 'album_viewer' slug=song.album.slug %}">{{ song.album.title }}</a></h2>
                  {% endif %}

            {% if song.text %}<blockquote>{{ song.text|safe }}</blockquote>{% endif %}
            {% if song.musicvideo %}
            <p>Denne sang har en <a href="{% url 'musicvideo_viewer' slug=song.musicvideo.slug %}">musikvideo</a></p>
            {% endif %}
             <p>
            {% if song.link_bc %}
                  <a class="tag is-dark is-medium" href="{{song.link_bc}}" target="_blank" rel="noopener"><span class="icon is-small"><i class="fab fa-bandcamp"></i></span>&emsp;Bandcamp</a>
            {% endif %}
             {% if song.sp_embed_code %}
                  <a class="tag is-dark is-medium" href="https://open.spotify.com/track/{{song.sp_embed_code}}" target="_blank"><span class="icon is-small"><i class="fab fa-spotify"></i></span>&emsp;Spotify</a>
            {% endif %}
            {% if song.link_yt %}
                  <a class="tag is-dark is-medium" href="{{song.link_yt}}" target="_blank" rel="noopener"><span class="icon is-small"><i class="fab fa-youtube"></i></span>&emsp;YouTube</a>
            {% endif %}
            {% if song.link_sc %}
                  <a class="tag is-dark is-medium" href="{{song.link_sc}}" target="_blank" rel="noopener"><span class="icon is-small"><i class="fab fa-soundcloud"></i></span>&emsp;Soundcloud</a>
            {% endif %}
              </p>

            {% if song.appears.all %}
                <p class="has-text-grey is-size-7">På dette nummer:
                {% for c in song.appears.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
                </p>
            {% endif %}
            {% if song.producer.all %}
                <p class="has-text-grey is-size-7">Produceret af:
                {% for c in song.producer.all %} <span class="tag is-uppercase has-text-grey"><a href="{% url 'character_viewer' slug=c.slug %}">{{ c.name|linebreaksbr }}</a></span> {% endfor %}
                </p>
            {% endif %}
        </div></div>
        <div class="is-divider" data-content="&#xf001"></div>
        {% if request.COOKIES.use_player == "spotify" and embed_code_sp%}
            <div class="embed-placeholder">{{ embed_code_sp|safe }}</div>
        {% else %}
            {% if embed_code_bc %}
                <div class="embed-placeholder">{{ embed_code_bc|safe }}</div>
            {% endif %}
        {% endif %}
        <div class="is-divider" data-content="&#xf001"></div>
        <div class="columns is-tablet">
        {% if song.lyrics %}
            <div class="column">
            <h2 class="title is-4">Sangtekst</h2>
            <p class="subtitle is-6 has-text-grey">Sandsynligvis ikke 100% korrekt. Indsend gerne rettelser</p>
            <div class="lyrics">{{ song.lyrics|safe }}</div></div>
        {% endif %}
        {% if song.comment %}
            <div class="column">
            {% show_comment song.comment request.COOKIES.show_comments request.COOKIES.motifs_seen request.COOKIES.anim_pref %}
            </div>
        {% endif %}
            </div>
    </div></div>
    </section>

{% endblock %}
