{% load static %}

<article id="{{ swgrspost.time_stamp }}" class="section has-line columns is-tablet {{ layout_outer }}">
<div class="column {{ layout_inner }}" {{ anim|safe }}>
<div class="box has-text-light has-background-dark darkmode">
    <div class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="{% get_media_prefix %}/swgrs/profile_thumb.jpg" alt="SWGRS">
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4 has-text-light">SWGRS</h2>
            <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
            <p>{{ swgrspost.text|safe }}</p>
            {% if yt_embed %}
                <div class="youtube-embed">
                {{ yt_embed|safe }}</div>
            {% endif %}
        </div>
      </div>
      <div class="media-right">
          <ul class="darkmode icon-list">
          <li><a href="{% url 'item_detail' slug=swgrspost.slug tp=swgrspost.get_type %}" title="Se opslag i en ny fane">
            <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          {% if swgrspost.link_fb %}
              <li><a href="{{ swgrspost.link_fb }}" target="_blank" rel="noopener" title="Se oprindeligt opslag på Facebook">
                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
              </a></li>
          {% endif %}
          <li><a class="button is-small is-black is-inverted tooltip is-tooltip-multiline" data-tooltip="Du kan bruge disse links til at gå til det oprindelige opslag på Facebook, Instagram mv. De burde virke. Hvis de ikke gør, er det sandsynligvis fordi Facebooks teknik er fucked op (det er en affaldsside, der bør undgås hvis muligt)"><span class="icon"><i class="fas fa-info"></i></span></a></li>
          </ul>
      </div>
    </div>
</div>
</div>
</article>