{% load static %}

<div class="modal" id="modal_{{ post.time_stamp }}">
  <div class="modal-background" onclick="modalClose('modal_{{ post.time_stamp }}')"></div>
  <div class="modal-content">
      <img src="{{ post.photo.url }}" height="{{ post.photo.height }}" width="{{ post.photo.width }}" alt="Billede fra SWGRS"/>
  </div>
  <button class="modal-close is-large" onclick="modalClose('modal_{{ post.time_stamp }}')" aria-label="close"></button>
</div>

<article id="{{ post.time_stamp }}" class="section is-medium columns is-tablet is-gapless {{ layout_outer }}">
  <div class="column is-one-third-desktop is-half-tablet starts-transparent post-img" {{ anim_b|safe }}>
    {% if video %}
        <video class="lazy do-shadow" data-src="{{ video }}" controls="1"  height="{{ post.photo.height }}" width="{{ post.photo.width }}">
            <a href="{{ video }}"> <img class="lazy" data-src="{{ post.photo.url }}"></a>
        </video>
    {% else %}
      <a onclick="modalOpen('modal_{{ post.time_stamp }}')">
        <img class="lazy do-shadow" data-src="{{ post.photo.url }}" height="{{ post.photo.height }}" width="{{ post.photo.width }}" alt="Opslag med billede fra SWGRS"/>
        </a>
    {% endif %}
  </div>
  <div class="column is-one-third-desktop is-half-tablet" {{ anim_b|safe }}>
    <div class="box has-text-light has-background-dark darkmode">
    <div class="media">
      <figure class="media-left">
        <div class="image is-64x64"><img class="lazy" data-src="{% get_media_prefix %}/swgrs/profile_thumb.jpg" alt="SWGRS"></div>
      </figure>
      <div class="media-content">
        <div class="content">
          <h2 class="title is-4 has-text-light">SWGRS</h2>
            <p class="subtitle is-6 has-text-grey">{{ post_time|date }}, kl. {{ post_time|time:"H:i" }} </p>
            <p>{{ post.text|safe }}</p>
        </div>
      </div>
      <div class="media-right">
          <ul class="darkmode icon-list">
          <li><a href="{% url 'item_detail' slug=post.slug tp=post.get_type %}" title="Se opslag i en ny fane">
            <span class="icon is-small"><i class="fas fa-external-link-alt"></i></span>
          </a></li>
          {% if post.link_fb %}
              <li><a href="{{ post.link_fb }}" target="_blank" rel="noopener" title="Se oprindeligt opslag på Facebook">
                <span class="icon is-small"><i class="fab fa-facebook"></i></span>
              </a></li>
          {% endif %}
          <li><a class="button is-small is-black is-inverted tooltip is-tooltip-left is-tooltip-multiline" data-tooltip="Du kan bruge disse links til at gå til det oprindelige opslag på Facebook, Instagram mv. De burde virke. Hvis de ikke gør, er det sandsynligvis fordi Facebooks teknik er fucked op (det er en affaldsside, der bør undgås hvis muligt)"><span class="icon"><i class="fas fa-info"></i></span></a></li>
          </ul>
      </div>
    </div>
    </div>
  </div>
</article>