{% extends 'hobro/base.html' %}
{% block title %} Bad request (400) {% endblock %}
{% block content %}
<section class="section columns is-tablet is-centered">
    <div class="column is-two-thirds is-centered"><div class="box big-box">
<h1 class="title"><span class="icon is-small"><i class="fa fa-error"></i></span>Fejl i forbindelsen</h1>
<div class="content">
  <p>
    Der er sket en fejl i kommunikationen mellem din enhed og serveren, som siden ligger på. Fejl 400
  </p>
</div>
</div></section>
{% endblock %}